*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E9EBEE;
}
.top{
    background-color: white;
    width: 500px;
    height: 270px;
    margin: auto;
    position: relative;
    margin-top: 120px;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.head{
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.heading{
    border-bottom: 1px solid #ccc;
}
.para{
    padding:14px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    padding: 15px;
    border: 1px solid #BEC3C9;
    border-radius: 5px;
    width: 94%;
    margin:10px 0 18px 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.same{
padding: 9px 15px;
border: none;
border-radius: 5px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
margin-left: 6px;
}
.blue{
color: white;
background-color: #1877F2;
}
.grey{
background-color: #E4E6EB;
}
.blue:hover{ 
     background-color: #166FE5;
     transition: all .3s;

}
.bottom{
    border-top: 1px solid #ccc;
    padding-top:12px ;
    position: relative;

}
.bottom div{
    position: absolute;
    right: 25px;
}
input:focus{
    outline: none;
}