*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E9EBEE;
}
form{
    width: 380px;
    height: 360px;
    margin: auto;
    text-align: center;
    margin-top: 120px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
}
.first{
    text-decoration: none;
    margin-top: 8px;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
}
input{
    padding: 12px;
    width: 90%;
    margin-top: 15px;
    border-radius: 4px;
    border: 1.2px solid #ccc;
    font-size: 16px;
}
.login{
    color: white;
    background-color: #1877F2;
    width: 90%;
    padding: 13px 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    margin: 13px 0 10px 0;
    border-radius: 4px;
}
.create{
    padding: 15px 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    margin-top: 30px;
    background-color:#42b72a;
    color: #fff;  
    width: 60%;
    border-radius: 4px;
}
.login:hover{
    background-color: #166FE5;
    transition: all .3s;
}
.create:hover{
    background-color:#36a420;

}
.next{
    border-top: 1px solid #ccc;
    
}
.first:visited{
   color: #1877F2;
}
input:focus{
   outline: none;
}