
// :root{
//     --black:#000;
//     --white:#fff;
// }
// .dark{
//     --black:#fff;
//     --white:#000;
// }

.dark1{
    opacity: 0.2;
}

html[data-theme='light']{  
    --black:#000;
    --white:#fff;
  }
  
  html[data-theme='dark'] {
    --black:#fff;
    --white:#000;
  }
  
header{
    background-color:var(--white);
    height: 18vh;
    transition: all .3s ease-in;
    .logo{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        i{
            color:var(--black) ;
            font-size:1.7rem;
            margin-right: 1.1rem;
           
        }
        h1{
            color:var(--black) ;
            font-family: 'Poppins', sans-serif;
           font-size: 1.9rem;
           font-weight: bold;
        }
    }
    .nav-link{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        ul{
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            li{
                &:nth-child(1){
                        border-top: 2px solid var(--black) ;
                        border-bottom: 2px solid var(--black) ;
                        padding: 10px 15px;
                    }
                a{
                    text-decoration: none;
                    color:var(--black) ;
                    font-size: 1rem;
                    font-family: 'Poppins', sans-serif;
                    transition: all .3s ease-in;
                    font-weight: 500;
                    letter-spacing: 1px;
                    
                    
                }
            }
        }
    }
    .right{
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        button{
            color: var(--black);
            outline: none;
            border: none;
            font-size: 1rem;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
            background-color: transparent;
            padding: 0;
        }
        i{
            color: var(--black);
            font-size: 1.1rem;
            margin-left: 2rem;
            cursor: pointer;
        }
    }
}


.hero{
    width: 100%;
    height: 82vh;
    background-color: var(--white);
    padding-bottom:15px ;
    transition: all .3s ease-in;
    .text{
        width: 70%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        p{
           color: var(--black);
           font-size: 6rem;
           text-transform: uppercase;
           font-family: 'Poppins', sans-serif;
           transition: all .3s ease-in;
            font-weight: bold;
        }
        h1{
            color: var(--black);
            font-size: 4rem;
            font-family: 'Raleway', sans-serif;
            transition: all .3s ease-in;
            
        }
        .buttons{
            margin-top: 2rem;
            button{
                outline: none;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                color: var(--black);
                background-color: var(--white);
                border: 2px solid var(--black);
                margin-right: 1rem;
                transition: all .3s ;
                &:hover{
                    color: var(--white);
                    background-color: var(--black);

                }
                i{
                    font-size: 1.3rem;
                }
            }
        }
    }
    .image{
        width: 90%;
        height: 100%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
}