*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .3s;
}
body{
    background-color:#6a81a4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;;
    height: 100vh;
}
.toDoApp{
     width: 600px;
     height: 150px;
     background-color: #fff;
     padding: 20px 40px;
     margin-bottom: 20px;
       h1{
         font-size: 30px;
         font-weight: bold;
     }
    .ToDoInput{
         width: 450px;
         height: 43px;
         outline: none;
         border: 1px solid #ccc;
         font-size: 16px;
         padding: 10px 14px;
         border-radius: 3px;
         margin-top: 15px;
         font-weight:bold;
     }
     .btn-todo{
         width: 48px;
         background-color: #3E497A;
         color: #fff;
         text-align: center;
         line-height: 43px;
         height: 43px;
         cursor: pointer;
         border-radius: 3px;
         &:hover{
            background-color: #333C83;
        }
     } 
    
}
  .myUl{
         width: 600px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-color: #333C83;
         padding: 20px ;
         overflow:auto;
         display: inline-block;
         .todo-li{
              position: relative;
              list-style-type: none;
              border-radius: 3px;
              background-color: #fff;
              font-size: 17px;
              width: 100%;
              padding: 0 20px ;
              height: 47px;
              line-height: 47px;
              margin-bottom: 15px;
              font-weight: 700;
              user-select: none;
              &:hover i{
                opacity: 1;
                visibility: visible;
              }
              .delete{
                  position: absolute;
                  right:0;
                  height: 47px;
                  top: 0;
                  width: 47px;
                  line-height: 47px;
                  text-align: center;
                  background-color: #E74D3D;
                  transition: all .3s;
                  cursor: pointer;
                  opacity: 0;
                  visibility: hidden;
                  color: #fff;
                  &:hover{
                      background-color: #a32f22;
                  }
            
              }
          }
     }
.toggle{
    font-style: italic;
    background-color: #1A1A40!important;
    color: white;
    font-weight:400 !important ;
    text-decoration: line-through;
}


.button-div{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .deleteAll{
    width: 40%;
    background-color: #E74D3D;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding:12px;
    font-size: 15px;
    border-radius: 3px;
    outline: none;
    border: none;
    font-weight: 700;
    &:hover{
        background-color: #a32f22;
    }
 }
}

