*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.toDoApp{
     width: 400px;
     height: 400px;
     background-color: darkgray;
}