@import "variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $font;
   transition: background-color 0.6s ease, color 1s ease;
      
}
// linear-gradient(to right, #faaca8, #ddd6f3)
// linear-gradient(to left, #71B280, #134E5E)
:root {
    --common-white: #fff;
    --common-black: #000;
    --body-text: #415674;
    --theme1: #ff5041;
    --theme2: #42a66c;
    --theme3: #161e1a;
    --body-soft-bg: #f6f8fa;
    --body-heading: #121315;
    --icolor:#fdd6d3;
    --idarkcolor:#4f7c57;
    --bgmain :#F2C9E1;
    --darkmain:#243D25;
    --left:#A2B38B;
    --left2:#FFEEEE;
    
  }
  .light-theme {
    --bg :var(--common-white);
    --color:var(--common-black);
    --iconnormalcolor:var(--theme1);
    --iconbg:var(--theme1);
    --iconcolor:var(--theme1);
    --b1:var(--icolor);
    --btnbg:var(--common-black);
    --main:var(--bgmain);
    --leftmenu:var(--left2);
  }
  .dark-theme {
    --btnbg:var(--common-white) ;
   --bg :var(--theme3);
   --color:var(--common-white);
   --iconbg:var(--theme3);
    --iconcolor:var(--theme2);
    --iconnormalcolor:var(--idarkcolor);
    --b1:var(--idarkcolor);
    --main:var(--darkmain);
    --leftmenu:var(--left);
  }

// Header
header{
    height: 15vh;
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
     transition: all .3s ease;
    .logo{
        height: 100%;
       width: 100%;
      display: flex;
      flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .menu{ 
       height: 100%;
       width: 100%;
       ul{
        height: 100%;
        width: 100%;
        padding: 0;
         margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        li{
            list-style-type: none;
            a{
              text-decoration: none;
              color: var(--color);
              font-size: 1.1rem;
            }
        }
       }
    }
    .buttons{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-around;
        .bt{
            transition: all .3s ease;
            font-size: 1.1rem;
            outline: none;
            border: none;
            border-radius: 3px;
            padding: 4px 20px;
            transition:all .3s ease ;
            background-color: rgb(243, 230, 230);
            &:hover{
              opacity: .9;
            }
        }
        .hamb{
            outline: none;
            border: none;
        }

        i{
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            line-height: 2.5rem;
            text-align: center;
            font-size: 1.1rem;
            cursor: pointer;
            background-color:rgb(243, 230, 230);
        }

        .spans{
            display: flex;
            flex-direction: column;
            
        }
    }
}

// Slider
.slider{
    height: 115vh;
    width: 100%;
   background-color: var(--main);
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
     .left{
        width: 100%;
        height: 100%;
        z-index: 2;
        position: relative;
        h1{
          font-size: 6rem;
          font-weight: bold;
          color: var(--color);
        }
        p{
            color: var(--color);
        }
        button{
            background-color:var(--b1) ; 
            color:var(--iconbg);
              transition: all .3s ease;
               font-size: 1.1rem;
               outline: none;
               border: none;
               border-radius: 3px;
              padding: 9px 30px;
              font-weight: 600;
              margin-top: 1rem;
              &:hover{
                background-color: var(--iconnormalcolor);
                color: var(--common-white);
              }
        }
     }
     .img{
         width: 100%;
         height: 100%;
         position: absolute;
         right: 190px;
         img{
             border-radius: 50%;
             width: 90%;
             height: 100%;
         }
     }

     .menuleft{
         width:500px;
         height: 115vh;
         background-color: var(--leftmenu);
         position: absolute;
         transform: translateX(500px);
         right: 0;
         top: 0;
         transition: all .5s ease;
         z-index: 234;
         padding: 50px 30px;
     }
     .top{
       width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       height: 8%;
       margin-bottom: 2.2rem;
       i{
           font-size: 2.2rem;
           color: rgb(255, 255, 255);
           background-color: var(--iconbg);
           width: 2.5rem;
           height: 2.5rem;
           border-radius: 50%;
           line-height: 2.5rem;
           text-align: center;
           font-size: 1.1rem;
           cursor: pointer;
       }
     }
     .text{
        height: 15%;
        h1{
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: 1.2rem;
            color: var(--color);
        }
        p{
            color: var(--body-text);
            line-height: 1.8;
        }
       h4{
         font-size: 1.2rem;
         margin: 1rem 0;
          i{
            margin-right: 5px;
            color: var(--iconbg);
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            line-height: 2.5rem;
            text-align: center;
            font-size: 1.1rem;
            cursor: pointer;
            background-color:white;
          }
       }
       i{
        margin-right: 5px;
        color:var(--body-text);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 6px;
        line-height: 2.5rem;
        text-align: center;
        font-size: 1.1rem;
        cursor: pointer;
        background-color:rgb(241, 241, 241);
        transition: all .4s ease;
        &:hover{
            transform: rotate(-360deg);
        }
       }
     }
}


// Solution
.solution{
    height: 80vh;
    width: 100%;
    background-color: var(--bg);
    h1{
        text-align: center;
        font-weight: bold;
        color: var(--color);
        font-size: 3.2rem;
    }

    .box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        &:hover p{
            color: var(--iconcolor);
        } 
        &:hover i{
             background-color: var(--iconnormalcolor);
             color: var(--common-white);
        }
        i{
          font-size: 3.4rem;
          transition: all .3s ease;
          width: 9rem;
          height: 9rem;
          line-height: 9rem;
          text-align: center;
          border-radius: 50%;
          background-color:var(--b1) ; 
          color:var(--iconbg);
        }
        p{
            font-size: 1.3rem;
            font-weight: 500;
            transition: all .3s ease;
            margin-top: 10px;
            color: var(--color);
            
        }
    }
}


// About

.about{
    height: 85vh;
    width: 100%;
    background-color: var(--bg);
    .left-image{
        width: 100%;
        height: 100%;
        position: relative;
        .img1{
            width:100%;
            height:100%;
        }
        .img2{
            width:40%;
            height:51%;
            position: absolute;
            right: -20%;
            top: 30%;
            
        }
    }
    .right-text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
       .text{
           width: 82%;
           height: 100%;
           h1{
               font-weight:bold;
               font-size: 3rem;
               color: var(--color);
           }
           p{
             color: var(--body-text);
             line-height: 2;
             margin: 1rem 0;;
           }
           h3{
               font-size:1.2rem;
               line-height: 2.5;
               color: var(--color);
               i{
                  width: 2rem;
                  height: 2rem;
                  border-radius: 50%;
                  background-color: var(--iconcolor);
                  color: white;
                  line-height: 2rem;
                  text-align: center;
                  font-size: 1rem;
                  margin-right: 5px;
               }
           }
           button{
            background-color:var(--b1) ; 
            color:var(--iconbg);
              transition: all .3s ease;
               font-size: 1.1rem;
               outline: none;
               border: none;
               border-radius: 3px;
              padding: 9px 30px;
              font-weight: 600;
              margin-top: 1rem;
              &:hover{
                background-color: var(--iconnormalcolor);
                color: var(--common-white);
              }
           }

       }
    } 
}


//Projects section
.projects{
    height:  auto;
    background-color: var(--main);
    h1{
        font-weight: bold;
        font-size: 3rem;
        color: var(--color);
    }
    button{
        outline: none;
        border: none;
        padding: 12px 18px;
        color: black;
        background-color: transparent;
        transition: all .3s ease;
        &:hover{
            background-color: #fff;
        }
    }
    .item{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom:3rem;
       .alt-img{
        position: relative;
        cursor: pointer;
        overflow: hidden;
        img{
            transition: all .3s ease; 
        }
        &:hover .empty{
           transform: scaleY(1);
          visibility: visible;
          opacity: .7;
        }
        &:hover img{
           transform: scale(1.1);
        }
       }
    }
    .empty{
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
        background-color: var(--main);
        opacity: 0;
        visibility: hidden;
        height:100%;
         transform-origin: top left;
         transition: all 0.5s ease;
         transform: scaleY(0);
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
    }
}